{{ define "main" }}
  {{ $pages := .Pages.ByDate.Reverse }}
  <div class="content-area col-12 col-lg-8" id="main-column">
  <div class="card p-3 p-lg-4.5 mb-3 mb-lg-4.5" id="header-card">
    <div class="row d-flex align-items-center justify-content-between">
      <div class="col">
        <div class="page-title">
          Category:
          <span class="text-purple text-capitalize">
            {{ .Title  | replaceRE "-" " " | title }} ({{ len $pages }})
          </span>
        </div>
      </div>
    </div>
  </div>
  {{ range (.Paginate $pages).Pages }}
    {{ partial "post-card.html" . }}
  {{ end }}

  {{ partial "pagination.html" . }}
</div>
{{ end }}
{{ define "sidebar" }}
{{ partial "sidebar.html" . }}
{{ end }}