<div class="col-12 col-lg-4" id="sidebar">
  <div class="row row-cols-1">
    <div class="col">
      <div class="card widget-card">
        <div class="widget-title">View By Category</div>
        <div class="widget-body">
          <select
            class="form-select"
            aria-label="Default select example"
            onchange="window.location.href=this.value">
            <option selected>Select Category</option>
            {{ range $category, $pages := .Site.Taxonomies.categories }}
            <option value="/categories/{{ $category }}">
              {{ $category | replaceRE "-" " " | title }}
              ({{ $pages.Count }})
            </option>
            {{ end }}
          </select>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card widget-card">
        <div class="widget-title">View By Author</div>
        <div class="widget-body">
          <select
            class="form-select"
            aria-label="Default select example"
            onchange="window.location.href=this.value">
            <option selected>Select Author</option>
            {{ range $author, $pages := site.Taxonomies.author }}
            {{ with site.GetPage (print "/authors/" $author) }}
            {{ $dirPath := .File.Dir }}
            {{ $parentFolder := path.Base $dirPath }}
            <option value="/authors/{{ $parentFolder }}">
              {{ .Title }}
              ({{ $pages.Count }})
            </option>
            {{ end }}
            {{ end }}
          </select>
        </div>
      </div>
    </div>
  </div>
</div>