<div id="header-img">
	<div id="wrapper">
		<div class="card" id="title-card">
			{{ if or .Params.author .Params.date }}
				<div
					class="row d-flex-inline row-cols-2 gap-0 gx-4 mt-0 mb-3 text-center justify-content-center">
					<div class="col-auto post-meta post-author">
						<i class="bi bi-person-fill"></i>
						By
						<a
							class="post-meta text-decoration-none"
							href="{{ "authors/" | relURL }}{{ .Params.author | urlize }}">
							{{ .Params.author }}
						</a>
					</div>
					<div class="col-auto text-nowrap post-meta post-date">
						<i class="bi bi-clock"></i>
						{{ .Params.date | time.Format ":date_long" }}
					</div>
				</div>
			{{ end }}
			<div id="header-title" class="text-center fw-bold text-uppercase mb-0">
				{{ .Title }}
			</div>
		</div>
	</div>
	<img
		class="header-img"
		src="{{ .Params.header_img | relURL }}"
		height="auto"
		width="auto"
		alt="" />
</div>